{% extends 'students/Applicant_Dashboard.html' %} {% block candidate_body %}

<!-- Content Start-->
<div class="content-header" xmlns="http://www.w3.org/1999/html">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 ml-1"><strong>Applicant Profile</strong></h1>
      </div>
      <!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item">
            <a href="{% url 'candidates:dashboard' %}">Home</a>
          </li>
          <li class="breadcrumb-item active">Applicant Profile</li>
        </ol>
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Step form start-->
<div class="bs-stepper">
  <div class="bs-stepper-header" role="tablist">
    <!-- your steps here -->
    <div class="row">
      <div class="col-sm">
        <div class="step" data-target="#personal-part">
          <button
            type="button"
            class="btn step-trigger"
            role="tab"
            aria-controls="personal-part"
            id="personal-part-trigger"
          >
            <span class="bs-stepper-circle">1</span>
            <span class="bs-stepper-label">Personal Information</span>
          </button>
        </div>
      </div>
      <div class="line"></div>
      <div class="col-sm">
        <div class="step" data-target="#address-part">
          <button
            type="button"
            class="btn step-trigger"
            role="tab"
            aria-controls="information-part"
            id="address-part-trigger"
          >
            <span class="bs-stepper-circle">2</span>
            <span class="bs-stepper-label">Address Information</span>
          </button>
        </div>
      </div>
      <div class="line"></div>
      <div class="col-sm">
        <div class="step" data-target="#other-part">
          <button
            type="button"
            class="btn step-trigger"
            role="tab"
            aria-controls="other-part"
            id="other-part-trigger"
          >
            <span class="bs-stepper-circle">3</span>
            <span class="bs-stepper-label">Other Information</span>
          </button>
        </div>
      </div>
      <div class="line"></div>
      <div class="col-sm">
        <div class="step" data-target="#academics-part">
          <button
            type="button"
            class="btn step-trigger"
            role="tab"
            aria-controls="academics-part"
            id="academics-part-trigger"
          >
            <span class="bs-stepper-circle">4</span>
            <span class="bs-stepper-label">Academics</span>
          </button>
        </div>
      </div>
      <div class="line"></div>
      <div class="col-sm">
        <div class="step" data-target="#document-part">
          <button
            type="button"
            class="btn step-trigger"
            role="tab"
            aria-controls="document-part"
            id="document-part-trigger"
          >
            <span class="bs-stepper-circle">5</span>
            <span class="bs-stepper-label">Upload Documents</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <br />
  <!-- Message Start-->
  {% if messages %}
  <!-- Message Included start -->
  {% include 'message_alert.html' %}
  <!-- Message Included end-->
  {% endif %}  <br>
  <div class="row">
    <div class="col-sm-1"></div>

    <div class="col-sm-10">
        <div class="bs-stepper-content">
          <!-- steps content here -->
          <div
            id="personal-part"
            class="content"
            style="background: #e6edf2"
            role="tabpanel"
            aria-labelledby="personal-part-trigger"
          >
            <form action="{% url 'candidates:profile' %}" method="POST" name="personal">
              {% csrf_token %}
              <input type="hidden" name="personal" id="personal" value="personal">
              <div class="card-header bg-primary text-center">
                <strong><h3>Personal Information</h3></strong>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-4 form-group">
                    <div class="row">
                      <div class="col-sm">
                        <label for="first_name">First Name</label>
                        <input
                          type="text"
                          class="validate form-control"
                          id="first_name"
                          name="first_name"
                          placeholder="Enter First Name"
                          required
                        />
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4 form-group">
                    <div class="row">
                      <div class="col-sm">
                        <label for="middle_name">Middle Name</label>
                        <input
                          type="text"
                          class="validate form-control"
                          id="middle_name"
                          name="middle_name"
                          placeholder="Enter Middle Name"
                          required
                        />
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 form-group">
                    <div class="row">
                      <div class="col-sm">
                        <label for="last_name">Last Name</label>
                        <input
                          type="text"
                          class="validate form-control"
                          id="last_name"
                          name="last_name"
                          placeholder="Enter Last Name"
                          required
                        />
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Row-2 Start-->
                <div class="row">
                  <div class="col-sm-4 form-group">
                    <div class="row">
                      <div class="col-sm">
                        <label for="email">Email</label>
                        <input
                          type="Email"
                          class="form-control"
                          id="email"
                          name="email"
                          placeholder="Enter Email"
                          required
                        />
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4 form-group">
                    <div class="row">
                      <div class="col-sm">
                        <label for="mobile">Mobile Number</label>
                        <input
                          type="text"
                          class="form-control"
                          id="mobile"
                          name="mobile"
                          placeholder="Enter Mobile Number"
                          maxlength="10"
                          minlength="10"
                          required
                        />
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4 form-group">
                    <div class="row">
                      <div class="col-sm">
                        <label for="dob">Date Of Birth</label>
                        <div class="input-group mb-3">
                          <input
                            type="date"
                            class="form-control"
                            name="d_o_b"
                            id="d_o_b"
                            placeholder=""
                            required
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Row-3 Start-->
                <div class="row">
                  <div class="col-sm-4 form-group">
                    <label for="gender">Gender</label>
                    <div class="row">
                      <div class="col-sm mt-2">
                        <div class="form-check d-inline icheck-success">
                          <input
                            class="form-check-input mt-2 mr-2 d-inline"
                            type="radio"
                            name="gender"
                            id="flexRadioDefault_male"
                            value="Male"
                          />
                          <label
                            class="form-check-label ml-2 d-inline"
                            for="flexRadioDefault_male"
                          >
                            <strong>Male</strong>
                          </label>
                        </div>

                        <div class="form-check d-inline icheck-success">
                          <input
                            class="form-check-input ml-3 d-inline"
                            type="radio"
                            name="gender"
                            id="flexRadioDefault_female"
                            value="Female"
                          />
                          <label
                            class="form-check-label mt-2 ml-2 d-inline"
                            for="flexRadioDefault_female"
                          >
                            <strong>Female</strong>
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4 form-group">
                    <div class="row">
                      <div class="col-sm">
                        <label class="">Age</label>
                        <input
                          type="text"
                          class="form-control"
                          id="age"
                          name="age"
                          required
                        />
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4 form-group">
                    <label for="marital_status">Marital Status</label>
                    <div class="row">
                      <div class="col-sm mt-2">
                        <div class="form-check d-inline icheck-success">
                          <input
                            class="form-check-input"
                            type="radio"
                            name="marital_status"
                            id="flexRadioDefault_married"
                            value="Married"
                          />
                          <label
                            class="form-check-label"
                            for="flexRadioDefault_married"
                          >
                            <strong>Married</strong>
                          </label>
                        </div>
                        &nbsp; &nbsp;
                        <div class="form-check d-inline icheck-success">
                          <input
                            class="form-check-input"
                            type="radio"
                            name="marital_status"
                            id="flexRadioDefault_unmarried"
                            value="Unmarried"
                          />
                          <label
                            class="form-check-label"
                            for="flexRadioDefault_unmarried"
                          >
                            <strong>Unmarried</strong>
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <br />
                <div class="row">
                  <div class="col-sm"></div>
                  <div class="col-sm text-center">
                    <button type="submit" class="btn btn-success">
                      Save
                    </button>
                    &nbsp; &nbsp;
                    <button class="btn btn-primary" onclick="stepper.next()">
                      Next
                    </button>
                  </div>
                  <div class="col-sm"></div>
                </div>
              </div>
            </form>
          </div>
          <div
            id="address-part"
            class="content"
            role="tabpanel"
            aria-labelledby="address-part-trigger"
            class="content card-body rounded"
            style="background: #e6edf2"
          >
            <form action="{% url 'candidates:profile' %}" method="POST">
              {% csrf_token %}
              <input type="hidden" name="address" id="address" value="address">
              <div class="card-header bg-primary text-center">
                <strong><h4>Address Details</h4></strong>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-4 form-group">
                    <!-- Row-1 Start-->
                    <div class="row">
                      <div class="col-sm">
                        <label for="Local Address">Local Address</label>
                        <textarea class="form-control" name="local_address" id="local_address" required> </textarea>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4 form-group">
                    <div class="row">
                      <div class="col-sm">
                        <label for="Is Same address"
                          >Check If Permanent Address Is Same<br />
                          As Local Address</label
                        >
                        <div class="row">
                          <div class="col-sm mt-2">
                            <div class="form-check d-inline icheck-success">
                              <input
                                class="form-check-input"
                                type="radio"
                                name="address_same"
                                id="flexRadioAddress_Same_yes"
                                value="yes"
                              />
                              <label
                                class="form-check-label"
                                for="flexRadioAddress_Same_yes"
                              >
                                <strong>Yes</strong>
                              </label>
                            </div>
                            &nbsp; &nbsp;
                            <div class="form-check d-inline icheck-success">
                              <input
                                class="form-check-input"
                                type="radio"
                                name="address_same"
                                id="flexRadioAddress_Same_no"
                                value="no"
                              />
                              <label
                                class="form-check-label"
                                for="flexRadioAddress_Same_no"
                              >
                                <strong>No</strong>
                              </label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 form-group">
                    <div class="row">
                      <div class="col-sm">
                        <label for="Permanent Address">Permanent Address</label>
                        <textarea class="form-control" name="permanent_address" id="permanent_address" required></textarea>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Row-2 Start-->
                <div class="row">
                  <div class="col-sm-4 form-group">
                    <div class="row">
                      <div class="col-sm">
                        <label for="State">State</label>
                        <div class="form-group">
                          <select
                            class="form-control select2bs4"
                            data-placeholder="Select a State"
                            style="width: 100%"
                            name="state"
                            id="state"
                            required
                          >
                            <option value="select">Select</option>
                            <option>Maharashtra</option>
                            <option>Karnataka</option>
                            <option>Goa</option>
                            <option>Andhrapradesh</option>
                            <option>Sikkim</option>
                            <option>Punjab</option>
                            <option>Bihar</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4 form-group">
                    <div class="row">
                      <div class="col-sm">
                        <label for="District">District</label>
                        <div class="form-group">
                          <select
                            class="form-control select2bs4"
                            data-placeholder="Select a District"
                            style="width: 100%"
                            name="district"
                            id="district"
                            required
                          >
                            <option value="select">Select</option>
                            <option>Aurangabad</option>
                            <option>Nashik</option>
                            <option>Jalgaon</option>
                            <option>Akola</option>
                            <option>Washim</option>
                            <option>Nagpur</option>
                            <option>Jalna</option>
                            <option>Beed</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4 form-group">
                    <div class="row">
                      <div class="col-sm">
                        <label for="Taluka">Taluka</label>
                        <div class="form-group">
                          <select
                            class="form-control select2bs4"
                            data-placeholder="Select a District"
                            style="width: 100%"
                            name="taluka"
                            id="taluka"
                            required
                          >
                            <option value="select">Select</option>
                            <option>Aurangabad</option>
                            <option>Kannad</option>
                            <option>Soegaon</option>
                            <option>Sillod</option>
                            <option>Phulambri</option>
                            <option>Khuldabad</option>
                            <option>Vaijapur</option>
                            <option>Gangapur</option>
                            <option>Paithan</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Row-3 Start-->
                <div class="row">
                  <div class="col-sm-4 form-group">
                    <div class="row">
                      <div class="col-sm">
                        <label for="Village">Village</label>
                        <div class="form-group">
                          <select
                            class="form-control select2bs4"
                            data-placeholder="Select a District"
                            style="width: 100%"
                            name="village"
                            id="village"
                            required
                          >
                            <option value="select">Select</option>
                            <option>Chittegaon</option>
                            <option>Pimpri</option>
                            <option>Chitte-Pimpalgaon</option>
                            <option>Shendra</option>
                            <option>Nipani</option>
                            <option>Garkheda</option>
                            <option>Adgaon</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4 form-group">
                    <div class="row">
                      <div class="col-sm">
                        <label class="Pincode">Pincode</label>
                        <input type="text" class="form-control" name="pincode" id="pincode" required />
                      </div>
                    </div>
                  </div>
                </div>
                <br />
                <div class="row">
                  <div class="col-sm"></div>
                  <div class="col-sm text-center">
                    <button class="btn btn-primary" onclick="stepper.previous()">
                      Prev
                    </button>
                    &nbsp;&nbsp;
                    <button type="submit" class="btn btn-success">
                      Save
                    </button>
                    &nbsp;
                    <button class="btn btn-primary" onclick="stepper.next()">
                      Next
                    </button>
                  </div>
                  <div class="col-sm"></div>
                </div>
              </div>
            </form>
          </div>
          <div
            id="other-part"
            class="content"
            role="tabpanel"
            aria-labelledby="other-part-trigger"
            style="background: #e6edf2"
          >
            <div class="card-header bg-primary text-center">
              <strong><h4>Other Information</h4></strong>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-4 form-group">
                  <!-- Row-1 Start-->
                  <div class="row">
                    <div class="col-sm">
                      <label for="religion">Religion</label>
                      <div class="form-group">
                        <select
                          class="form-control select2bs4"
                          data-placeholder="Select a Religion"
                          style="width: 100%"
                          name="religion"
                          id="religion"
                          required
                        >
                          <option value="select">Select</option>
                          <option>Hindu</option>
                          <option>Buddhist</option>
                          <option>Christian</option>
                          <option>Jain</option>
                          <option>Muslim</option>
                          <option>Parsi</option>
                          <option>Sikh</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 form-group">
                  <div class="row">
                    <div class="col-sm">
                      <label for="Caste">Caste</label>
                      <div class="form-group">
                        <select
                          class="form-control select2bs4"
                          data-placeholder="Select a Caste"
                          style="width: 100%"
                          name="caste"
                          id="caste"
                          required
                        >
                          <option value="select">Select</option>
                          <option>General</option>
                          <option>(OBC) Other Backward Class</option>
                          <option>(SBC) Special Backward Class</option>
                          <option>(SC) Scheduled Caste</option>
                          <option>(ST) Scheduled Tribe</option>
                          <option>(VJNT) Vimukt Jat Nomadic Tribe</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4 form-group">
                  <div class="row">
                    <div class="col-sm">
                      <label for="pwd">Person With Disablity</label>
                      <div class="row">
                        <div class="col-sm mt-2">
                          <div class="form-check d-inline icheck-success">
                            <input
                              class="form-check-input"
                              type="radio"
                              name="pwd"
                              id="flexRadio_pwd_yes"
                              value="yes"
                            />
                            <label
                              class="form-check-label ml-2 d-inline"
                              for="flexRadio_pwd_yes"
                            >
                              <strong>Yes</strong>
                            </label>
                          </div>
                          &nbsp; &nbsp;
                          <div class="form-check d-inline icheck-success">
                            <input
                              class="form-check-input"
                              type="radio"
                              name="pwd"
                              id="flexRadio_pwd_no"
                              value="no"
                            />
                            <label
                              class="form-check-label mt-2 ml-2 d-inline"
                              for="flexRadio_pwd_no"
                            >
                              <strong>No</strong>
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Row-2 Start-->

              <!-- Row-3 Start-->
              <br />
              <div class="row">
                <div class="col-sm"></div>
                <div class="col-sm text-center">
                  <button class="btn btn-primary" onclick="stepper.previous()">
                    Prev
                  </button>
                  &nbsp; &nbsp;
                  <button class="btn btn-primary" onclick="stepper.next()">
                    Next
                  </button>
                </div>
                <div class="col-sm"></div>
              </div>
            </div>
          </div>
          <div
            id="academics-part"
            class="content"
            role="tabpanel"
            aria-labelledby="academics-part-trigger"
            style="background: #e6edf2"
          >
            <div class="card-header bg-primary text-center">
              <strong><h4>Academics Information</h4></strong>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-4 form-group">
                  <!-- Row-1 Start-->
                  <div class="row">
                    <div class="col-sm">
                      <label for="Qualification_level"
                        >Qualification Level</label
                      >
                      <div class="form-group">
                        <select
                          class="form-control select2bs4"
                          data-placeholder="Select a Qualification"
                          style="width: 100%"
                          name="qualification"
                          id="qualification"
                          required
                        >
                          <option value="select">Select</option>
                          <option>Certificate Course</option>
                          <option>Diploma Course</option>
                          <option>S.S.C (10 std)</option>
                          <option>H.S.C</option>
                          <option>Under Graduate Course</option>
                          <option>Post Graduate Course</option>
                          <option>Vocational Course</option>
                          <option>Ph.D</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 form-group">
                  <div class="row">
                    <div class="col-sm">
                      <label for="Stream">Stream</label>
                      <div class="form-group">
                        <select
                          class="form-control select2bs4"
                          data-placeholder="Select a stream"
                          style="width: 100%"
                          name="stream"
                          id="stream"
                          required
                        >
                          <option value="select">Select</option>
                          <option>Agriculture</option>
                          <option>Arts</option>
                          <option>Commerce</option>
                          <option>Education</option>
                          <option>Engineering</option>
                          <option>Law</option>
                          <option>Management</option>
                          <option>Physical Education</option>
                          <option>Science</option>
                          <option>Veterinary</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4 form-group">
                  <div class="row">
                    <div class="col-sm">
                      <label for="Institute Name">Institute Name</label>
                      <input
                        type="text"
                        class="form-control"
                        name="institute name"
                        id="institute name"
                        placeholder=""
                        required
                      />
                    </div>
                  </div>
                </div>
              </div>
              <!-- Row-2 Start-->
              <div class="row">
                <div class="col-sm-4 form-group">
                  <div class="row">
                    <div class="col-sm">
                      <label for="University">University / Board Name</label>
                      <div class="form-group">
                        <select
                          class="form-control select2bs4"
                          data-placeholder="Select a University"
                          style="width: 100%"
                          name="university"
                          id="university"
                          required
                        >
                          <option value="select">Select</option>
                          <option>BAMU</option>
                          <option>BATU</option>
                          <option>Autonomous</option>
                          <option>SPPU</option>
                          <option>Nashik</option>
                          <option>Jalgaon</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4 form-group">
                  <div class="row">
                    <div class="col-sm">
                      <label for="Passing year">Passing Year</label>
                      <div class="form-group">
                        <select
                          class="form-control select2bs4"
                          data-placeholder="Select a Passing Year"
                          style="width: 100%"
                          name="passing_year"
                          id="passing_year"
                          required
                        >
                          <option value="select">Select</option>
                          <option>2021</option>
                          <option>2020</option>
                          <option>2019</option>
                          <option>2018</option>
                          <option>2017</option>
                          <option>2016</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4 form-group">
                  <div class="row">
                    <div class="col-sm">
                      <label for="Percentage">Percentage</label>
                      <input
                        type="text"
                        class="form-control"
                        name="Percentage"
                        id="Percentage"
                        placeholder=""
                        required
                      />
                    </div>
                  </div>
                </div>
              </div>

              <!-- Row-3 Start-->
              <br />
              <div class="row">
                <div class="col-sm"></div>
                <div class="col-sm text-center">
                  <button class="btn btn-primary" onclick="stepper.previous()">
                    Prev
                  </button>
                  &nbsp; &nbsp;
                  <button class="btn btn-primary" onclick="stepper.next()">
                    Next
                  </button>
                </div>
                <div class="col-sm"></div>
              </div>
            </div>
          </div>
          <div
            id="document-part"
            class="content"
            role="tabpanel"
            aria-labelledby="document-part-trigger"
            style="background: #e6edf2"
          >
            <div class="card-header bg-primary text-center">
              <strong><h4>Upload Documents</h4></strong>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-sm-6 form-group">
                  <!-- Row-1 Start-->
                  <div class="form-group">
                    <label for="ssc_marksheet">S.S.C Marksheet</label>
                    <div class="custom-file">
                      <input
                        type="file"
                        class="custom-file-input form-control"
                        id="ssc_file"
                      />
                      <label class="custom-file-label" for="customFile"
                        >Choose file</label
                      >
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 form-group">
                  <div class="form-group">
                    <label for="hsc_marksheet">H.S.C Marksheet</label>
                    <div class="custom-file">
                      <input
                        type="file"
                        class="custom-file-input form-control"
                        id="hsc_file"
                      />
                      <label class="custom-file-label" for="customFile"
                        >Choose file</label
                      >
                    </div>
                  </div>
                </div>
              </div>
              <!-- Row-2 Start-->
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="caste certificate">Caste Certificate</label>
                    <div class="custom-file">
                      <input
                        type="file"
                        class="custom-file-input form-control"
                        id="caste_file"
                      />
                      <label class="custom-file-label" for="customFile"
                        >Choose file</label
                      >
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="">
                    <div class="form-group">
                      <label for="Non_creamy_layer">Non-Creamy-Layer</label>
                      <div class="custom-file">
                        <input
                          type="file"
                          class="custom-file-input form-control"
                          id="non_creamy_layer_file"
                        />
                        <label class="custom-file-label" for="customFile"
                          >Choose file</label
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Row-3 Start-->
              <div class="row">
                <div class="col-sm-6">
                  <div class="">
                    <div class="form-group">
                      <label for="Photo">Passport Size Photo</label>
                      <div class="custom-file">
                        <input
                          type="file"
                          class="custom-file-input form-control"
                          id="passport_photo_file"
                        />
                        <label class="custom-file-label" for="customFile"
                          >Choose file</label
                        >
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="">
                    <div class="form-group">
                      <label for="Signature">Signature</label>
                      <div class="custom-file">
                        <input
                          type="file"
                          class="custom-file-input form-control"
                          id="signature_file"
                        />
                        <label class="custom-file-label" for="customFile"
                          >Choose file</label
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <br />
              <div class="row">
                <div class="col-sm"></div>
                <div class="col-sm text-center">
                  <button class="btn btn-primary" onclick="stepper.previous()">
                    Prev
                  </button>
                  &nbsp; &nbsp;

                  <button class="btn btn-success" onclick="">Save</button>
                  &nbsp; &nbsp;
                  <button class="btn btn-primary" onclick="stepper.next()">
                    Next
                  </button>
                </div>
                <div class="col-sm"></div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    window.stepper = new Stepper(document.querySelector(".bs-stepper"));
  });
  $('input[type=radio][name=address_same]').change(function() {
        if (this.value == 'yes')
        {
            var local = $("#local_address").val();
            $("#permanent_address").val(local);
            $("#permanent_address").attr("disabled","disabled");
        }
  });
</script>

{% endblock candidate_body %}
