{% extends 'students/Applicant_Dashboard.html' %} {% block candidate_body %}

<!-- Content Start-->
<div class="content-header" xmlns="http://www.w3.org/1999/html">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 ml-1"><strong>Applicant Profile</strong></h1>
      </div>
      <!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item">
            <a href="{% url 'candidates:dashboard' %}">Home</a>
          </li>
          <li class="breadcrumb-item active">Applicant Profile</li>
        </ol>
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Step form start-->
<div class="bs-stepper">
  <div class="bs-stepper-header" role="tablist">
    <!-- your steps here -->
    <div class="row">
      <div class="col-sm">
        <div class="">
          <a
            href="{% url 'candidates:personal' %}"
            class="btn step-trigger"
          >
            <span class="bs-stepper-circle bg-primary">1</span>
            <span class="nav-link text-primary">Personal Information</span>
        </a>
        </div>
      </div>
      <div class="line"></div>
      <div class="col-sm">
        <div class="">
          <a
            href="{% url 'candidates:address' %}"
            class="btn step-trigger"
          >
            <span class="bs-stepper-circle bg-primary">2</span>
            <span class="nav-link text-primary">Address Information</span>
        </a>
        </div>
      </div>
      <div class="line"></div>
      <div class="col-sm">
        <div class="">
          <a
            href="{% url 'candidates:other' %}"
            class="btn step-trigger"
          >
            <span class="bs-stepper-circle bg-primary">3</span>
            <span class="nav-link text-primary">Other Information</span>
        </a>
        </div>
      </div>
      <div class="line"></div>
      <div class="col-sm">
        <div class="">
          <a
            href="{% url 'candidates:academic' %}"
            class="btn step-trigger"
          >
            <span class="bs-stepper-circle bg-primary">4</span>
            <span class="nav-link text-primary">Acadmic</span>
        </a>
        </div>
      </div>
      <div class="line"></div>
      <div class="col-sm">
        <div class="">
          <a
            href="{% url 'candidates:documents' %}"
            class="btn step-trigger"
          >
            <span class="bs-stepper-circle bg-primary">5</span>
            <span class="nav-link text-primary">Documents</span>
        </a>
        </div>
      </div>
    </div>
  </div>
  <br />
  <!-- Message Start-->
  {% if messages %}
  <!-- Message Included start -->
  {% include 'message_alert.html' %}
  <!-- Message Included end-->
  {% endif %}  <br>
  {% block profile_body %}
  <!-- Profile Body Block --> 
  {% endblock profile_body %}


</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    window.stepper = new Stepper(document.querySelector(".bs-stepper"));
  });
  $('input[type=radio][name=address_same]').change(function() {
        if (this.value == 'yes')
        {
            var local = $("#local_address").val();
            $("#permanent_address").val(local);
            $("#permanent_address").attr("disabled","disabled");
        }
  });
</script>

{% endblock candidate_body %}
