{% extends 'master.html' %} {% block body %}
<section>
  <div class="container">
    <h1>Login</h1>
  </div>
  {% if messages %} {% include 'message_alert.html' %} {% endif %}
  <div class="d-flex justify-content-center">
    <div class="card col-md-4">
      <div class="card-body">
        <form action="{% url 'candidates:dashboard' %}">
          <label><h4 class="text-primary text-bold">Applicant Login</h4></label>
          <div>
            <input
              type="text"
              class="form-control form-control rounded"
              id="exampleInputRounded0"
              placeholder="Enter Username"
            />
          </div>
          <br />
          <div>
            <input
              type="password"
              class="form-control form-control rounded"
              id="exampleInputRounded1"
              placeholder="Enter Password"
            />
          </div>
          <br />
          <div class="row">
            <div class="col-4">
              <button
                type="submit"
                class="btn btn-primary btn-sm btn-rounded"
                id="btnotp"
              >
                Get OTP</button
              ><br />
            </div>

            <div class="col-8">
              <input
                type="text"
                class="form-control form-control-sm rounded"
                id="otp"
                placeholder=""
              />
            </div>
          </div>
          <br />
          <br />
          <div class="row">
            <div class="col-6">
              <button type="submit" class="btn btn-success btn-rounded">
                Login
              </button>
            </div>

            <div class="col-6">
              <button
                type="submit"
                class="btn btn-danger btn-rounded"
                id="forgot"
              >
                Forgot Password
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<script>
  $("#btnotp").click(function () {
    $("#otp").toggle();
    $("#forgot").toggle();
  });
</script>
{% endblock body %}
