{% extends 'students/Applicant_Dashboard.html' %} {% block candidate_body %}

<!-- Content Start-->
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 ml-1"><b>Applicant Profile</b></h1>
      </div>
      <!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item">
            <a href="{% url 'candidates:dashboard' %}">Home</a>
          </li>
          <li class="breadcrumb-item active">Applicant Profile</li>
        </ol>
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Step form start-->
<div class="bs-stepper">
  <div class="bs-stepper-header" role="tablist">
    <!-- your steps here -->
    <div class="row">
      <div class="col-sm">
        <div class="step" data-target="#personal-part">
          <button
            type="button"
            class="step-trigger"
            role="tab"
            aria-controls="personal-part"
            id="personal-part-trigger"
          >
            <span class="bs-stepper-circle">1</span>
            <span class="bs-stepper-label">Personal Information</span>
          </button>
        </div>
      </div>
      <div class="line"></div>
      <div class="col-sm">
        <div class="step" data-target="#address-part">
          <button
            type="button"
            class="step-trigger"
            role="tab"
            aria-controls="information-part"
            id="address-part-trigger"
          >
            <span class="bs-stepper-circle">2</span>
            <span class="bs-stepper-label">Address Information</span>
          </button>
        </div>
      </div>
      <div class="line"></div>
      <div class="col-sm">
        <div class="step" data-target="#other-part">
          <button
            type="button"
            class="step-trigger"
            role="tab"
            aria-controls="other-part"
            id="other-part-trigger"
          >
            <span class="bs-stepper-circle">3</span>
            <span class="bs-stepper-label">Other Information</span>
          </button>
        </div>
      </div>
      <div class="line"></div>
      <div class="col-sm">
        <div class="step" data-target="#academics-part">
          <button
            type="button"
            class="step-trigger"
            role="tab"
            aria-controls="academics-part"
            id="academics-part-trigger"
          >
            <span class="bs-stepper-circle">4</span>
            <span class="bs-stepper-label">Academics</span>
          </button>
        </div>
      </div>
      <div class="line"></div>
      <div class="col-sm">
        <div class="step" data-target="#experience-part">
          <button
            type="button"
            class="step-trigger"
            role="tab"
            aria-controls="experience-part"
            id="experience-part-trigger"
          >
            <span class="bs-stepper-circle">5</span>
            <span class="bs-stepper-label">Experience Details</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
   <div class="col-12">
     <form method="post" action="/">
       {% csrf_token %}
      <div class="bs-stepper-content">
        <!-- steps content here -->
         <div id="personal-part" class="content card-body rounded " style="background:#e6edf2" role="tabpanel" aria-labelledby="personal-part-trigger">
             <div class="row">
                 <div class="col-md-4 form-group">
                   <div class="row">
                     <div class="col-md-4">
                       <label class="mt-2"><strong>First Name</strong></label>
                     </div>
                     <div class="col-md-6">
                       <input type="text" class="form-control" placeholder="Enter First Name" required>
                     </div>
                   </div>
                 </div>
                 <div class="col-md-4 form-group">
                   <div class="row">
                     <div class="col-md-4">
                        <label class="mt-2"><strong>Middle Name</strong></label>
                     </div>
                     <div class="com-md-6">
                       <input type="text" class="form-control" placeholder="Enter Middle Name" required>
                     </div>
                   </div>
                 </div>
                  <div class="col-md-4 form-group">
                   <div class="row">
                     <div class="col-md-4">
                        <label class="mt-2"><strong>Last Name</strong></label>
                     </div>
                     <div class="com-md-6">
                       <input type="text" class="form-control" placeholder="Enter Last Name" required>
                     </div>
                   </div>
                 </div>
             </div>
           <br>
            <div class="row">
                 <div class="col-md-4 form-group">
                   <div class="row">
                     <div class="col-md-4">
                       <label class="mt-2"><strong>Date Of Birth</strong></label>
                     </div>
                     <div class="col-md-7">
                        <div class="input-group mb-3">
                            <input
                              type="date"
                              class="form-control"
                              name="notification_str_date"
                              id="notification_str_date"
                              placeholder="Start Date" required
                            />
                            <div class="input-group-append">
                              <div class="input-group-text">
                                <span class="fas fa-calendar"></span>
                              </div>
                            </div>
                        </div>
                     </div>
                   </div>
                 </div>
                 <div class="col-md-4 form-group">
                   <div class="row">
                     <div class="col-md-4">
                        <label class="mt-2 text-align-center"><strong>Gender</strong></label>
                     </div>
                     <div class="col-md-6">
                        <div class="icheck-primary d-inline">
                          <input type="radio" id="radioPrimary1" name="r1">
                          <label for="radioPrimary1" class="mt-2">
                            Male
                          </label>
                        </div>
                        &nbsp;
                        &nbsp;
                        <div class="icheck-primary d-inline">
                          <input type="radio" id="radioPrimary2" name="r1">
                          <label for="radioPrimary2" class="mt-2">
                            Female
                          </label>
                        </div>
                     </div>
                   </div>
                 </div>
                  <div class="col-md-4 form-group">
                   <div class="row">
                     <div class="col-md-4">
                        <label class="mt-2"><strong>Age</strong></label>
                     </div>
                     <div class="com-md-4">
                       <input type="text" class="form-control" placeholder="Enter Age" required>
                     </div>
                   </div>
                 </div>
             </div>
           <br>
           <div class="row">
              <div class="col-6 form-group">
                   <div class="row">
                     <div class="col-md-2">
                       <label class="mt-2"><strong>Email</strong></label>
                     </div>
                     <div class="col-md-6">
                       <input type="Email" class="form-control" placeholder="Enter Email" required>
                     </div>
                   </div>
               </div>
               <div class="col-md-6 form-group">
                   <div class="row">
                     <div class="col-md-4">
                        <label class="mt-2"><strong>Mobile Number</strong></label>
                     </div>
                     <div class="col-md-6">
                       <input type="text" class="form-control" placeholder="Enter Mobile Number" required>
                     </div>
                   </div>
               </div>
           </div>
           <br>
           <div class="row">
            <div class="col-md-4 form-group">
                <div class="row">
                     <div class="col-md-4">
                        <label class="mt-2 text-align-center"><strong>Marital Status</strong></label>
                     </div>
                     <div class="col-md-8">
                        <div class="icheck-primary d-inline">
                          <input type="radio" id="radioPrimary3" name="r2">
                          <label for="radioPrimary1" class="mt-2">
                            Married
                          </label>
                        </div>
                        &nbsp;
                        &nbsp;
                        <div class="icheck-primary d-inline">
                          <input type="radio" id="radioPrimary4" name="r2">
                          <label for="radioPrimary2" class="mt-2">
                            Unmarried
                          </label>
                        </div>
                     </div>
                   </div>
                </div>
           </div>
           <br>
            <div class="row">
                <div class="col-md-5"></div>
                <div class="col-md-6">
                    <button class="btn btn-primary" onclick="stepper.next()">Save</button>
                    &nbsp;
                    &nbsp;
                    <button class="btn btn-primary" onclick="stepper.next()">Next</button>
                </div>
            </div>
         </div>
        <div
          id="address-part"
          class="content"
          role="tabpanel"
          aria-labelledby="address-part-trigger"
          class="content card-body rounded "
          style="background:#e6edf2"
          >
            <div class="row">
              <div class="col-md-5 form-group">
                  <div class="row">
                      <div class="col-md-3">
                          <label class="mt-2"><strong>Local Address </strong></label>
                      </div>
                      <div class="col-md-8">
                          <textarea  class="form-control mt-2" required></textarea>
                      </div>
                  </div>
              </div>
              &nbsp;
              <div class="col-md-5 form-group">
                  <div class="row">
                      <div class="col-md-3">
                          <label class="mt-2"><strong>Permanent Address </strong></label>
                      </div>
                      <div class="col-md-8">
                        <textarea class="form-control mt-2" required></textarea>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-5 form-group">
              <div class="row">
                  <div class="col-md-12">
                        <label class="mt-2 text-align-center">Please Check if Permanent Address Is Same as Local Address</label>
                  </div>
                  <div class="col-md-6">
                        <div class="icheck-primary d-inline">
                          <input type="radio" id="radioPrimary5" name="r3">
                          <label for="radioPrimary1" class="mt-2">
                            Yes
                          </label>
                        </div>
                        &nbsp;
                        &nbsp;
                        <div class="icheck-primary d-inline">
                          <input type="radio" id="radioPrimary6" name="r3">
                          <label for="radioPrimary2" class="mt-2">
                           No
                          </label>
                        </div>
                  </div>
              </div>
          </div>

          <button class="btn btn-primary" onclick="stepper.previous()">Prev</button>
          <button class="btn btn-primary" onclick="stepper.next()">Next</button>
     </div>
        <div
          id="other-part"
          class="content"
          role="tabpanel"
          aria-labelledby="other-part-trigger"
        >
        </div>
        <div
          id="academics-part"
          class="content"
          role="tabpanel"
          aria-labelledby="academics-part-trigger"
        >
        </div>
        <div
          id="experience-part"
          class="content"
          role="tabpanel"
          aria-labelledby="experience-part-trigger">
          </div>
        </div>
     </form>
    </div>
  </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', function () {
    window.stepper = new Stepper(document.querySelector('.bs-stepper'))
})
</script>

{% endblock candidate_body %}
