{% extends 'master.html' %}
{% block body %}
<section>
    <div class="container">
        <h1><i class="fa fa-sign-in" aria-hidden="true"></i>
            <label>Login</label>
        </h1>
    </div>
<div class="d-flex justify-content-center">
  <div class="card col-md-4 ">
    <div class="card-body">
        <form>
            <label><h4 style="color:blue">Applicant Login</h4></label>
            <input type="text" class="form-control  form-control-sm rounded-0" id="exampleInputRounded0" placeholder="Enter Username">
            <br>
            <input type="password" class="form-control form-control-sm rounded-0" id="exampleInputRounded1" placeholder="Enter Password">
            <br>
            <br>
            <div class="row">
                <div class="col-4">
                    <button type="submit" class="btn btn-primary btn-flat" id="btnotp">Get OTP</button><br>
                </div>
                <div class="col-1"></div>
                 <div class="col-md-6">
                    <input type="text" class="form-control  form-control-sm rounded-0" id="otp" placeholder="">
                </div>
            </div>
            <br>
            <br>
            <div class="row">
                <button type="submit" class="btn btn-success btn-flat">Login here</button>
                <div class="col-3"></div>
                <button type="submit" class="btn btn-danger btn-flat" id="forgot">Forgot Password</button>
            </div>

        </form>
    </div>
  </div>
</div>
</section>
<script>
$("#btnotp").click(function(){
    $("#otp").toggle();
    $("#forgot").toggle();
});
</script>
{% endblock body %}