{% extends 'base_home.html' %} {% block home_body %}

<div class="col-sm-2"></div>
<div class="col-sm-3">
  <div class="box rounded mt-2 mb-4">
    <!-- /.login-logo -->

    <div class="card shadow-lg">
      <div class="card-header bg-info text-center">
        <strong><h3>Candidate login</h3></strong>
      </div>
      <div class="card-body login-card-body">
        <!-- Messages Start-->
        {% if messages %}
        <!-- Messages included-->
        {% include 'message_alert.html' %}
        <!-- Message Include End-->
        {% endif %}
        <form
          action="{% url 'candidates:login' %}"
          method="post"
          novalidate
          class="needs-validation"
        >
          {% csrf_token %}
          <div class="input-group mb-3">
            <input
              type="text"
              name="stud_username"
              id="stud_username"
              class="form-control"
              placeholder="Username"
              title="Must have valid mobile number !"
              required="required"
            />
            <!-- pattern="^\d{10}$" 
                 minlength="10" 
                 maxlength="10"
            -->
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input
              type="password"
              name="stud_password"
              id="stud_password"
              class="form-control"
              placeholder="Password"
              title="Must contain Alphabate, Numbers and special symbol !"
              required="required"
            />
            <!--pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"-->
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col-4">
              <button
                type="submit"
                class="btn btn-info btn-sm btn-rounded"
                id="btnotp"
              >
                Get OTP</button
              ><br />
            </div>

            <div class="col-8">
              <input
                type="text"
                class="form-control form-control-sm rounded"
                id="otp"
                name="otp"
                placeholder="OTP"
                pattern="^\d{6}$"
                required="required"
                minlength="6"
                maxlength="6"
                title="Enter valid OTP recived on Email 6-Digit Number"
              />
            </div>
          </div>
          <br />
          <br />
          <div class="row">
            <div class="col-sm">
              <button
                type="submit"
                class="btn btn-primary btn-rounded btn-block"
              >
                Login
              </button>
            </div>

            {% comment %}
            <div class="col-sm-6">
              <a
                href="{% url 'forget' %}"
                class="btn btn-danger btn-block mt-2"
              >
                Forgot Password
              </a>
            </div>
            {% endcomment %}
          </div>
        </form>

        <div class="text-right mt-3 pr-1">
          <p>
            <a href="{% url 'forget' %}" class="nav-link text-primary mt-2">
              Click here to Reset Password

              <i class="fas fa-lock"></i
            ></a>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
<!-- /.login-box -->
<div class="col-sm-3"></div>
<br />
<script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
  (function () {
    "use strict";
    window.addEventListener(
      "load",
      function () {
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.getElementsByClassName("needs-validation");
        // Loop over them and prevent submission
        var validation = Array.prototype.filter.call(forms, function (form) {
          form.addEventListener(
            "submit",
            function (event) {
              if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
              }
              form.classList.add("was-validated");
            },
            false
          );
        });
      },
      false
    );
  })();
</script>
{% endblock home_body %}
