{% extends "admin_home/admin_index.html" %} {% block admin_body %}
<!-- Content Start-->
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 ml-1"><b>Hallticket</b></h1>
      </div>
      <!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item">
            <a href="{% url 'TET_Officers:officer_home' %}">Home</a>
          </li>
          <li class="breadcrumb-item active">Hallticket</li>
        </ol>
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Section start-->
<section class="content">
  <div class="container-fluid">
    <!-- Small boxes (Stat box) -->
    <div class="row">
      <div class="col-lg-6">
        <!-- small box -->
        <div class="small-box bg-light">
          <div class="card-header bg-success">
            <h4 class="text-center"><b>Generate Hallticket</b></h4>
          </div>
          <div class="inner">
            <form action="{% url 'TET_Officers:Hallticket' %}" method="POST">
              {% csrf_token %}
              <div class="row mt-4">
                <div class="col-sm-5">
                  <div class="d-inline">
                    <label for="title" class="mt-2"
                      >Candidate ID / Mobile No</label
                    >
                  </div>
                </div>
                <div class="col-sm-7">
                  <div class="input-group mb-3">
                    <input
                      type="text"
                      class="form-control rounded"
                      name="notification_name"
                      id="notification_name"
                      placeholder="Enter Candidate ID or Mobile Number"
                      required
                    />
                  </div>
                </div>
              </div>

              <br />
              <div class="row">
                <!-- /.col -->
                <div class="col-sm pt-1 pb-2 text-center">
                  <button type="submit" class="btn btn-success btn-rounded">
                    Generate
                  </button>
                </div>
              </div>
              <br />
            </form>
          </div>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-6">
        <!-- small box -->
        <div class="small-box bg-light">
          <div class="card-header bg-info">
            <h4 class="text-center"><b>Regenerate Hallticket</b></h4>
          </div>
          <div class="inner">
            <form action="{% url 'TET_Officers:Hallticket' %}" method="POST">
              {% csrf_token %}
              <div class="row mt-4">
                <div class="col-sm-5">
                  <div class="d-inline">
                    <label for="title" class="mt-2"
                      >Candidate ID / Mobile No</label
                    >
                  </div>
                </div>
                <div class="col-sm-7 ml-0">
                  <div class="input-group mb-3">
                    <input
                      type="text"
                      class="form-control rounded"
                      name="notification_name"
                      id="notification_name"
                      placeholder="Enter Candidate ID or Mobile Number"
                      required
                    />
                  </div>
                </div>
              </div>

              <br />
              <div class="row">
                <!-- /.col -->
                <div class="col-sm pt-1 pb-2 text-center">
                  <button type="submit" class="btn btn-info btn-rounded">
                    Regenerate
                  </button>
                </div>
              </div>
              <br />
            </form>
          </div>
        </div>
      </div>
      <!-- ./col -->
    </div>
    <!-- /.row -->
  </div>
</section>
<!-- /.content -->
{% endblock admin_body %}
