{% extends 'base_home.html' %} {% load static %} {% block home_body %}
<!-- Main Content Start -->
<div class="col-sm mt-2">
  <div class="card text-center">
    <div class="card-header bg-secondary font-weight-bold font-weight-bolder">
      About Us
    </div>
    <div class="card-body">
      <h5
        class="card-title font-weight-bold font-weight-bolder card-title-center"
      >
        About महाराष्ट्र शिक्षक पात्रता परीक्षा 2021
      </h5>
      <br />
      <hr />
      <p class="card-text text-justify">
        &nbsp; &nbsp; “शिक्षक पात्रता परीक्षा” (Teacher Eligibility Test)
        शासनातर्फे किंवा शासनाने नियुक्त केलेल्या प्राधिकरण / संस्थाद्वारे
        घेण्यात येईल. ह्या परीक्षेचा खर्च भागविण्यासाठी प्राधिकरण / संस्थाना
        योग्य ती फी आकारण्याची मुभा राहील.
      </p>
      <hr />
      <p class="card-text text-justify">
        &nbsp; &nbsp; “शिक्षक पात्रता परीक्षा” (Teacher Eligibility Test) आयोजन
        करण्याची सर्व जबाबदारी महाराष्ट्र राज्यपरीक्षा परिषद, पुणे यांच्यावर
        सोपविण्यात येत आहे.
      </p>
      <hr />
      <p class="card-text text-justify">
        &nbsp; &nbsp; महाराष्ट्र राज्य परीक्षा परिषद, पुणे यांनी सर्व बाबींचा
        विचार करुन परीक्षा घेण्याचे व्यवस्थित नियोजन करावे यामध्ये उमेदवाराकडून
        अर्ज स्विकारण्यापासून मुलांना पात्रता प्रमाणपत्र देण्याच्या सर्व बाबींचा
        (उदा:- ऑनलाईन पध्दतीने अर्ज स्विकारणे, प्रश्नपत्रिका तयार करणे,
        उत्तरपत्रिका तयार करणे, केंद्रावर परीक्षा घेणे, उत्तरपत्रिका OMR
        पध्दतीने तपासणी करणे, ऑनलाईन पध्दतीने निकाल जाहीर करणे, उत्तीर्ण
        उमेदवारांना विशिष्ट (युनिक) नोंदणी क्रमांक देणे इत्यादी ) अंतर्भाव असेल.
        परीक्षा परिषदेने शक्यतो सर्व बाबीकरिता संगणकीय पध्दतीचा वापर करावा.
      </p>
    </div>
  </div>
  <br /><br /><br /><br /><br /><br /><br />
</div>
<!-- Main Content End -->
{% endblock home_body %}
