{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>State Teachers Eligibility Test</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <link rel="stylesheet" href="{% static 'dist/css/adminlte.min.css' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'plugins/fontawesome-free/css/all.min.css' %}">
  <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  
</head>

<body class="mt-1 bg-light" style="background:#dfe2e8">
  <!-- <div class="preloader flex-column justify-content-center align-items-center">
    <img class="animation__shake" src="/dist/img/photo1.png" alt="STET_Logo" height="60" width="60">
  </div> -->
  <!-- Tab panes -->
  <div class="container-fluid">
    <div class="tab-content mt-auto">
      <div id="google_translate_element" class="text-right rounded responsive"></div>
        <div class="">
          <div class="row">
            <div class="col-sm-2 pt-2 text-center d-inline">
              <img src="{% static 'dist/img/stet_logo.png' %}" class="brand-image rounded-circle bg-dark" style="opacity: 0.9" height="85px"
                width="85px" />
            </div>
            <div class="col-sm mr-auto pt-2 pb-2 d-inline">
              <h3 class="text-center text-info">
                <b> महाराष्ट्र राज्य परीक्षा परिषद, पुणे </b>
              </h3>
              <h4 class="text-warning text-center">
                <b>महाराष्ट्र शिक्षक पात्रता परीक्षा - २०२१ <br />
                  Maharashtra Teacher Eligibility Test - 2021</b>
              </h4>
            </div>
            <div class="col-sm-2 mt-1 pt-2 text-center d-inline">
              <img src="{% static 'dist/img/satymev_flag.jpg' %}" class="brand-image rounded-circle align-self-center" style="opacity: 0.9" height="85px"
                width="85px" />
            </div>
          </div>
        </div>
        <nav class="navbar navbar-expand-sm navbar-light navbar-rounded sticky-top"style="background:#dfe2e8" >
          <!-- <a class="navbar-brand" href="#">
            <img src="dist/img/stet_logo.pn.gif" width="50" height="50" class="d-inline-block align-top bg-dark rounded-circle" alt="">
            
          </a> -->
          <button class="navbar-toggler ml-3 mt-2 mb-1 rounded" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item pl-1 pr-1 pt-1 pb-1">
                <a class="nav-link navbar-brand font-weight-bold" href="{% url 'index' %}"> <i class="fas fa-home"></i> Home</a>
              </li>
              <li class="nav-item pl-1 pr-1 pt-1 pb-1">
                <a class="nav-link navbar-brand font-weight-bold" href="https://www3.digialm.com/OnlineAssessment/index.html?164@@M642"> <i class="fas fa-user"> </i> Mock Test</a>
              </li>
              <li class="nav-item pl-1 pr-1 pt-1 pb-1">
                <a class="nav-link navbar-brand font-weight-bold" href="{% url 'contact' %}"><i class="nav-icon fas fa-phone-alt"> </i> Contact Us</a>
              </li>
              <li class="nav-item pl-1 pr-1 pt-1 pb-1">
                <a class="nav-link navbar-brand font-weight-bold" href="{% url 'about' %}"><i class="nav-icon fas fa-info-circle">  </i> About Us</a>
              </li>
            </ul>
            
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
          </div>
        </nav>
      

        <div class="row ml-auto mr-auto rounded">
          <div class="col-sm-2">
          
            <div class="card mt-2 rounded">
              <div class="card-header text-center bg-warning text-bold ">
                <b>Applicants</b>
              </div>
            <div class="list-group" id="list-tab" role="tablist">
              <a class="list-group-item list-group-item-action bg-light" href="{% url 'candidates:login' %}"
               ><i class="fas fa-sign-in-alt"></i> <span class="text-primary text-bold"> Login</span></a>
              <a class="list-group-item list-group-item-action bg-light" href="{% url 'candidates:registration' %}"
               ><i class="fas fa-edit"></i><span class="text-primary text-bold font-12"> New Registration</span></a>
            </div>  
            </div>
            <!-- Offices Card Start -->
            <div class="card mt-2">
              <div class="card-header bg-warning text-center text-bold">
               <b>Officers</b>
              </div>
              <div class="list-group" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action bg-light" href="{% url 'TET_Officers:EO_Login' %}"
                  ><i class="fas fa-sign-in-alt"></i> <span class="text-primary text-bold"> EO Login</span></a>
                <a class="list-group-item list-group-item-action bg-light" href="{% url 'TET_Officers:EIO_Login' %}"
                  ><i class="fas fa-sign-in-alt"></i> <span class="text-primary text-bold"> EIO Login</span></a>
                
              </div>
            </div>
            <!-- Offices Card End -->
            <!-- Offices Card Start -->
            <div class="card mt-2">
              <div class="card-header bg-success text-center font-weight-bold">
                <b>Downloads</b>
              </div>
              <div class="list-group text-center" id="list-tab" role="tablist">
                <a class="pt-2 pb-1 pl-1 pr-1 list-group-item-action bg-light" id="list-home-list" data-toggle="list" href="#list-home"
                  role="tab" aria-controls="home">Prev Year Question Paper</a>
                <a class="pt-2 pb-1 pl-1 pr-1 list-group-item-action bg-light" id="list-profile-list" data-toggle="list" href="#list-profile"
                  role="tab" aria-controls="profile">Syllabus</a>
            
              </div>
            </div>
            <!-- Offices Card End -->
          </div>
        {% block home_body %}
        
        {% endblock home_body %}

        <!-- Right Card Start -->
            <!-- Notifications Start -->
          <div class="col-sm-2 mb-0">
            <div class="card mt-sm-2" >
              <div class="card-header bg-info text-center font-weight-bold text-warning">
                <b>Notifications</b>
              </div>
              <ul class="list-group list-group-flush text-justify">{% for notification in all_notifications %}
                <li class="list-group-item"><marquee width="auto" direction="up" height="100%" scrollamount="1" class="text-center">  
                  <a href="#" class="nav-link">Apply for current opening {{ notification.notification_name }} Starting from {{ notification.notification_str_date }} and Ending Date is {{ notification.notification_end_date }}</a>
                </marquee></li>{% endfor %}
              </ul>
            </div>
          </div>
          <!-- Notifications Start -->
        </div>
        
      </div>
    </div>
    <div class="" height="50px"></div>
    <!-- Footer Start -->
    <footer class="page-footer pt-2 pb-3 text-center sticky-bottom mt-sm-5" style="background-color: rgb(172, 212, 235);">
      <div class="footer pl-5 pr-5 d-block">
        <span class="text-primary font-weight-bold">© 2021 Copyright Designed & Developed by</span> <a href="https://github.com/Rameshwar-Chavan" class="text-dark font-weight-bold" target="_blanck">Rameshwar Chavan</a> | <a href="https://github.com/Mangesh-Shirodkar"  class="text-dark font-weight-bold" target="_blanck">Mangesh Shirodkar</a> | <a href="https://github.com/DipakSinkar" target="_blanck"  class="text-dark font-weight-bold">Dipak Sinkar</a><a href="https://btech.mit.asia" target="_blanck" class="float-right d-none d-sm-inline-block font-weight-bold"> Maharashtra Institute of Technology(T), Aurangabad</a>
      </div>
      
      <!-- Copyright -->
    
    </footer>
    <!-- Footer End -->
  </div>
  {% comment %} <script src="{% static 'plugins/jquery/jquery.min.js' %}"></script> {% endcomment %}
  <!-- jQuery UI 1.11.4 -->
  {% comment %} <script src="{% static 'plugins/jquery-ui/jquery-ui.min.js' %}"></script> {% endcomment %}
  <!-- Google Translation Script-->
  <script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
}
</script>

<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
<!-- Goole translation End-->
  <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
  <script>
    $.widget.bridge('uibutton', $.ui.button)
  </script>
  <script>
  setTimeout(function(){
      if($('#msg').length>0){
        $('#msg').remove();
      }
  }, 10000)
</script>
  <!-- Bootstrap 4 -->
  <script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'dist/js/adminlte.js' %}"></script>

</body>

</html>