{% extends 'base_home.html' %}
{% load static %}
{% block home_body %}
              <!-- Main Content Start -->
          <div class="col-sm mt-2">
                {% if messages %} {% include 'message_alert.html' %} {% endif %}

            <div class="card text-center">
              <div class="card-header bg-secondary font-weight-bold font-weight-bolder">
                महाराष्ट्र शिक्षक पात्रता परीक्षा 2021 बाबतच्या सूचना
              </div>
              
              <div class="card-body">
                <h5 class="card-title font-weight-bold font-weight-bolder">महाराष्ट्र शिक्षक पात्रता परीक्षा 2021 बाबतच्या सूचना</h5>
                <br>
               <hr>
                <p class="card-text text-justify"> &nbsp; &nbsp; इयत्ता ६ वी ते इ ८ वी च्या गटातील उच्च प्राथमिक शिक्षकांना नियुक्तीसाठी शिक्षक पात्रता परीक्षा पेपर क्र. II
                संबंधित उमेदवाराने त्यांनी प्राप्त केलेल्या पदवीच्या विषयानुसार राहील. उदा. विज्ञान / गणित विषयासाठी विज्ञान /
                गणित विषयातील शिक्षक पात्रता परीक्षा पेपर क्र. II, सामाजिकशास्त्र शिक्षकांसाठी सामाजिकशास्त्र या विषयातील
                शिक्षक पात्रता परीक्षा पेपर क्र. II व इतर विषयांसाठी उपरोक्त गणित / विज्ञान आणि सामाजिकशास्त्र यापैकी
                कोणताही एका विषयातील शिक्षक पात्रता परीक्षा पेपर क्र. II उत्तीर्ण असणे आवश्यक राहील.
                <hr>
                
                &nbsp; &nbsp; महाराष्ट्र शिक्षक पात्रता परीक्षा - २०२१ करीता उमेदवार ऑनलाईन आवेदनपत्र भरणेसाठी दिनांक ०५/०९/२०२१
                रोजी पर्यंत दिलेल्या मुदतवाढीचे प्रसिद्धीपत्रक
                व्यावसायिक अर्हतेच्या शेवटच्या वर्षात प्रवेश घेतलेल्या विद्यार्थ्यांना शिक्षक पात्रता परीक्षेचे आवेदनपत्र भरण्याची संधी
                उपलब्ध करून देणेबाबत प्रसिद्धीपत्रक</p>
              </div>
              <br><br><br><br><br><br><br><br>
            </div>
          </div>
          <!-- Main Content End -->
{% endblock home_body %}