{% load static %} 
  {% if messages %} 
    {% for message in messages %} 
      {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
        <p class="text-center alert alert-primary alert-dismissible" id="msg1" role="alert">{{ message }}</p>
      {% endif %} 
      
      {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
       <h5><b><p class="text-center alert alert-success alert-dismissible" id="msg2" role="alert">{{ message }}</p></b></h5>
    {% endif %} 
    
    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
        <p class="text-center alert alert-danger alert-dismissible" id="msg3" role="alert">{{ message }}</p>
    {% endif %}
    
    {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
        <p class="text-center alert alert-warning alert-dismissible" id="msg4" role="alert">{{ message }}</p>
    {% endif %}
  {% endfor %} 
  {% endif %}
